<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>MonashTechTitans</title>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.jpg"/> 
    <!-- Bootstrap Datatables-->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    

    <!--<script src="https://d3js.org/d3.v6.js"></script> D3 v6-->
    <script src="https://d3js.org/d3.v4.min.js"></script> <!--D3 v4 for events-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/control.js"></script>
    <script type="text/javascript">

        let met_table = JSON.parse(<%-JSON.stringify(ejs_met)%>);


        // global units
        let vhu;
        let vwu;

        // global vars and storage
        let activities = {};
        let display_activity = "Sitting at a desk";
        
        // DOM loaded callback
		document.addEventListener('DOMContentLoaded', function() {
            
           // log data
           console.log("MET calories page");

           // global units
           vhu = window.innerHeight/100;
           vwu = window.innerWidth/100;
           console.log("height and width window units");
           console.log(vhu);
           console.log(vwu);
           console.log(met_table);

           // create MET table
           var met_table_body = document.getElementById('table-met-body');
           for(let i in met_table){
            // new row
             var table_row = document.createElement("tr");

             // loop for activities and icons
             for(let j in met_table[i]){
                var table_td_1 = document.createElement("td");
                table_td_1.innerHTML = met_table[i][j]['activity'];
                activities[met_table[i][j]['activity']] = met_table[i][j]['metscore'];

                // set initial
                if(met_table[i][j]['activity'] == display_activity){
                    table_td_1.style.backgroundColor = "var(--mdb-dark)";
                    table_td_1.style.color = "white";
                }

                var new_icon = document.createElement("i");
                new_icon.className = met_table[i][j]['icon'] + " icon";

                table_td_1.append(document.createElement("br"));
                table_td_1.append(new_icon);
                table_row.append(table_td_1);
                
             }
            met_table_body.append(table_row);
            
           }

          // table events
          document.getElementById('table-met').addEventListener("click", tableClick);

        

        }, false);

        // event handlers
        function tableClick(event){
            // unhighlight all
           let cells = document.getElementsByTagName("td");
           for(let cell of cells){
                cell.style.backgroundColor = "var(--mdb-table-bg)";
                cell.style.color = "black";
           }

           // highlight cell
           if(event.target.tagName == "TD"){
                event.target.style.backgroundColor = "var(--mdb-dark)";
                event.target.style.color = "white";
               

            }

            if(event.target.tagName == "I"){
                event.target.parentNode.style.backgroundColor = "var(--mdb-dark)";
                event.target.parentNode.style.color = "white";

            }

        }
        
    </script>
</head>