<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>MonashTechTitans</title>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.jpg"/> 
    <!-- Bootstrap Datatables-->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    

    <!--<script src="https://d3js.org/d3.v6.js"></script> D3 v6-->
    <script src="https://d3js.org/d3.v4.min.js"></script> <!--D3 v4 for events-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/control.js"></script>
    <script type="text/javascript">

        let met_table = JSON.parse(<%-JSON.stringify(ejs_met)%>);


        // global units
        let vhu;
        let vwu;

        // global vars and storage
        let activities = {};
        let display_activity = "Sitting at a desk";
        let metric = "KGS";
        let weight = 75;
        let minutes = 30;
        let metric_smalls = {"KGS": " Between 30-200 kgs. ", "POUNDS": " Between 66-440 pounds. "};
        let icon_calories = {"beer": 100, "redwine": 100, "sandwich": 400, "carrots": 33, "pizza": 300};
        let img_width, img_height = 25;
        
        // DOM loaded callback
		document.addEventListener('DOMContentLoaded', function() {
            
           // log data
           console.log("MET calories page");

           // global units
           vhu = window.innerHeight/100;
           vwu = window.innerWidth/100;
           console.log("height and width window units");
           console.log(vhu);
           console.log(vwu);
           console.log(met_table);

           // create MET table
           var met_table_body = document.getElementById('table-met-body');
           for(let i in met_table){
            // new row
             var table_row = document.createElement("tr");

             // loop for activities and icons
             for(let j in met_table[i]){
                var table_td_1 = document.createElement("td");
                table_td_1.innerHTML = met_table[i][j]['activity'];
                table_td_1.id = met_table[i][j]['activity'];
                activities[met_table[i][j]['activity']] = met_table[i][j]['metscore'];

                // set initial
                if(met_table[i][j]['activity'] == display_activity){
                    table_td_1.style.backgroundColor = "var(--mdb-dark)";
                    table_td_1.style.color = "white";
                }

                var new_icon = document.createElement("i");
                new_icon.className = met_table[i][j]['icon'] + " icon";

                table_td_1.append(document.createElement("br"));
                table_td_1.append(new_icon);
                table_row.append(table_td_1);
                
             }
            met_table_body.append(table_row);
            
           }

          // events
          document.getElementById('table-met').addEventListener("click", tableClick);
          document.getElementById('minutes').addEventListener("input", handleMinutes);
          document.getElementById('weight').addEventListener("input", handleWeight);
          document.getElementById('metrics').addEventListener("input", handleMetric);

          // set calories
          document.getElementById('calories').innerHTML = calculate();

          // set radio weight 
          let metric_radios = document.getElementsByName("metricRadio");
           for(let i=0; i<metric_radios.length;i++){
                if(metric_radios[i].value == metric){
                    metric_radios[i].checked = true;
                }
           }

        }, false);

        // calories calculator
        function calculate(){
            /* THE MATHS */
            // METs x 3.5 x (your body weight in kilograms) / 200 = calories burned per minute
            // 1kg = 2.204623 pounds
            // 1 pound = 0.4535924 kgs
            // range = [6, 7245]

            if(metric == "KGS"){
                let calories = parseInt(((activities[display_activity] * 3.5 * weight)/200)*minutes);
                convert(calories);
                return calories;
            }

            if(metric == "POUNDS"){
                let calories = parseInt(((activities[display_activity] * 3.5 * weight * 0.4535924)/200)*minutes);
                convert(calories);
                return calories;
            }

        }

        // calories converter
        function convert(calories){
            /* carrots */

            // get number
            let num_carrots = Math.floor(calories/icon_calories["carrots"]);

            // get div and clear
            let carrots_div = document.getElementById("carDiv");

            // remove any elements in plot area
            while (carrots_div.firstChild) {
                carrots_div.removeChild(carrots_div.firstChild);
            }

            // opaque for zero
            if(num_carrots == 0){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/carrot.svg";
                img_tag.style.opacity = 0.2;
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                carrots_div.append(img_tag);
            }

            // add new images
            for(let i=0; i<num_carrots; i++){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/carrot.svg";
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                carrots_div.append(img_tag);
            }

            // update title
            let carrots_div_title = document.getElementById("carDivTitle");
            carrots_div_title.innerHTML = calories + " calories in carrots";


            /* sandwiches */

            // get number
            let num_sandwich = Math.floor(calories/icon_calories["sandwich"]);

            // get div and clear
            let sandwich_div = document.getElementById("chiDiv");

            // remove any elements in plot area
            while (sandwich_div.firstChild) {
                sandwich_div.removeChild(sandwich_div.firstChild);
            }

            // opaque for zero
            if(num_sandwich == 0){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/sandwich.svg";
                img_tag.style.opacity = 0.2;
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                sandwich_div.append(img_tag);
            }

            // add new images
            for(let i=0; i<num_sandwich; i++){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/sandwich.svg";
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                sandwich_div.append(img_tag);
            }

            // update title
            let sandwich_div_title = document.getElementById("chiDivTitle");
            sandwich_div_title.innerHTML = calories + " calories in chicken sandwiches";

            /* beer */

            // get number
            let num_beer = Math.floor(calories/icon_calories["beer"]);

            // get div and clear
            let beer_div = document.getElementById("beerDiv");

            // remove any elements in plot area
            while (beer_div.firstChild) {
                beer_div.removeChild(beer_div.firstChild);
            }

            // opaque for zero
            if(num_beer == 0){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/beer.svg";
                img_tag.style.opacity = 0.2;
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                beer_div.append(img_tag);
            }

            // add new images
            for(let i=0; i<num_beer; i++){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/beer.svg";
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                beer_div.append(img_tag);
            }

            // update title
            let beer_div_title = document.getElementById("beerDivTitle");
            beer_div_title.innerHTML = calories + " calories in mugs of beer";

            /* redwine */

            // get number
            let num_wine = Math.floor(calories/icon_calories["redwine"]);

            // get div and clear
            let wine_div = document.getElementById("wineDiv");

            // remove any elements in plot area
            while (wine_div.firstChild) {
                wine_div.removeChild(wine_div.firstChild);
            }

            // add new images
            for(let i=0; i<num_wine; i++){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/redwine.svg";
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                wine_div.append(img_tag);
            }

            // opaque for zero
            if(num_wine == 0){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/redwine.svg";
                img_tag.style.opacity = 0.2;
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                wine_div.append(img_tag);
            }

            // update title
            let wine_div_title = document.getElementById("wineDivTitle");
            wine_div_title.innerHTML = calories + " calories in glasses of red wine";

            /* pizza */

            // get number
            let num_pizza = Math.floor(calories/icon_calories["pizza"]);

            // get div and clear
            let pizza_div = document.getElementById("pizzaDiv");

            // remove any elements in plot area
            while (pizza_div.firstChild) {
                pizza_div.removeChild(pizza_div.firstChild);
            }

            // opaque for zero
            if(num_pizza == 0){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/pizza.svg";
                img_tag.style.opacity = 0.2;
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                pizza_div.append(img_tag);
            }

            // add new images
            for(let i=0; i<num_pizza; i++){
                let img_tag = document.createElement("img");
                img_tag.src = "/svgs/pizza.svg";
                img_tag.setAttribute("width", img_width);
                img_tag.setAttribute("height", img_height);
                pizza_div.append(img_tag);
            }

            // update title
            let pizza_div_title = document.getElementById("pizzaDivTitle");
            pizza_div_title.innerHTML = calories + " calories in slices of pizza";
            
        }

        // event handlers
        function tableClick(event){

            // here table color

            // unhighlight all
           let cells = document.getElementsByTagName("td");
           for(let cell of cells){
                cell.style.backgroundColor = "var(--mdb-table-bg)";
                cell.style.color = "var(--mdb-dark)";
           }

           // highlight cell
           if(event.target.tagName == "TD"){
                event.target.style.backgroundColor = "var(--mdb-dark)";
                event.target.style.color = "white";
                display_activity = event.target.id;
            }

            if(event.target.tagName == "I"){
                event.target.parentNode.style.backgroundColor = "var(--mdb-dark)";
                event.target.parentNode.style.color = "white";
                display_activity = event.target.parentNode.id;
            }
            
            // set calories
            document.getElementById('calories').innerHTML = calculate();
        }

        function handleMinutes(event){
            
            if( event.target.value > 9 &&  event.target.value < 181){
                // set minutes
                minutes = event.target.value;
                // set calories
                document.getElementById('calories').innerHTML = calculate();
            }
        }

        function handleWeight(event){
            if(metric == "KGS"){
                if( event.target.value > 29 &&  event.target.value < 201){
                    // set minutes
                    weight = event.target.value;
                    // set calories
                    document.getElementById('calories').innerHTML = calculate();
                }
            }

            if(metric == "POUNDS"){
                if( event.target.value > 65 &&  event.target.value < 441){
                    // set minutes
                    weight = event.target.value;
                    // set calories
                    document.getElementById('calories').innerHTML = calculate();
                }
            }
        }

        function handleMetric(event){
            // set metric
            metric = event.target.value;

            // update display and range
            document.getElementById('weightSmall').innerHTML = metric_smalls[metric];

            // update min max
            if(metric == "KGS"){
                document.getElementById('weight').setAttribute("min", "30");
                document.getElementById('weight').setAttribute("max", "200");
            }

            if(metric == "POUNDS"){
                document.getElementById('weight').setAttribute("min", "66");
                document.getElementById('weight').setAttribute("max", "440");
            }
        }
        
    </script>
</head>