<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>MonashTechTitans</title>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.jpg"/> 
    <script src="https://d3js.org/d3.v6.js"></script> <!--D3-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/control.js"></script>
    <script type="text/javascript">
        
        
        // DOM loaded callback
		document.addEventListener('DOMContentLoaded', function() {
            
            console.log("DOM ready");

            // events (question buttons)
            document.getElementById('question1').addEventListener("click", handleInput);
            document.getElementById('question2').addEventListener("click", handleInput);
            document.getElementById('question3').addEventListener("click", handleInput);
            document.getElementById('question4').addEventListener("click", handleInput);
            document.getElementById('question5').addEventListener("click", handleInput);
            document.getElementById('question6').addEventListener("click", handleInput);
            document.getElementById('question7').addEventListener("click", handleInput);
            document.getElementById('question8').addEventListener("click", handleInput);
            document.getElementById('question9').addEventListener("click", handleInput);
            document.getElementById('question10').addEventListener("click", handleInput);


        }, false);

        // event handlers

        // radio buttons (change class)
        function handleInput(event){

            // get question buttons
            let quest = event.target.parentNode.id;
            let buttons = document.getElementsByName(quest);
           
            // update labels
            for(let i=0; i < buttons.length; i++){
                if(buttons[i].checked){
                    buttons[i].nextElementSibling.className = "btn btn-primary";
                }
                else{
                    buttons[i].nextElementSibling.className = "btn btn-secondary";
                }
            }

        }

    </script>
</head>