<!DOCTYPE html>
<html lang="en">
  
  
  <% include ./partials/index-head %>
  <body>

    <!--Main Navigation-->
    
  
      <!-- Navbar -->
      <nav style="z-index: 10;
                   min-height: 58.59px;
                  " class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient text-white sticky-top px-5">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
  
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="./index">
              <i class="fas fa-heart-pulse" style="color:darkSalmon"></i>
            </a>
            <!-- Left links -->
            
            <ul class="navbar-nav ms-auto">
              <!-- Dropdown -->
              <li class="nav-item dropdown mx-5">
                <div class="dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                 BEFORE SEEKING HEALTHCARE
                </a>
                <ul class="dropdown-menu fs-6 dropdown-menu-dark" style="letter-spacing:2px; background-color:var(--mdb-dark);" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="/privatehealth">Private Healthcare in Australia
                      <i class="fas fa-suitcase-medical ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/maps" onclick="maps()">Patient Survey Maps
                      <i class="fas fa-map ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/symptom" onclick="symptoms()">Symptom Checker 
                      <i class="fas fa-prescription-bottle-medical"></i></a>
                  </li>
                </ul>
              </div>
              </li>

              <li class="nav-item dropdown mx-5">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                  SEEKING HEALTHCARE
                </a>
                <ul class="dropdown-menu fs-6 dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink" style="letter-spacing:2px; background-color:var(--mdb-dark);">
                  <li>
                    <a class="dropdown-item" href="/tree" onclick="tree()">Australian Healthcare Tree Diagram
                      <i class="fas fa-diagram-project ms-2"></i></a>
                  </li>
                </ul>
                </li>

              <li class="nav-item dropdown mx-5">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                 AFTER SEEKING HEALTHCARE
                </a>
                <ul class="dropdown-menu fs-6 dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink" style="letter-spacing:2px; background-color:var(--mdb-dark);">
                  <li>
                    <a class="dropdown-item" href="/met" onclick="met()">Activity Tracker
                      <i class="fas fa-calculator ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/healthguidelines" onclick="guides()">Good Health Guidelines
                      <i class="fas fa-person-walking ms-2"></i></a>
                  </li>
                  
                </ul>
                </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
  
          <!-- Right elements -->
         
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
    
      <!-- Background image -->
      <div class="landing bg-image vh-100" style="margin-top: -58.59px;">
    
        <!-- Mask -->
        <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.5)">
  
          <!-- Container -->
          <div class="container d-flex justify-content-center align-items-center h-100">
            
              <div class="text-white text-center ">

                <!--SVG HEART-->
                <svg width="60px" height="60px" viewBox="0 0 40 40">
                  <filter id="specular" primitiveUnits="objectBoundingBox"> 
                    <feSpecularLighting
                      result="specOut" 
                      in="SourceGraphic" 
                      specularExponent="30" 
                      specularConstant="0.4" 
                      surfaceScale="1" 
                      lighting-color="#bbbbbb">
                      <fePointLight x="0.5" y="0.5" z="0.3" />
                    </feSpecularLighting>
                    <feComposite
                      in="SourceGraphic"
                      in2="specOut"
                      operator="arithmetic"
                      k1="0"
                      k2="1"
                      k3="1"
                      k4="0" />
                  </filter>
                  <image href="/svgs/heart-pulse-fill.svg" width="40" height="40" style="filter:url(#specular)">
                    <animate attributeName="height" from="35" to="40" dur="1.5s" begin="0s" repeatCount="indefinite"/>
                  </image>
                </svg>
                <hr class="hr">
                <h1 style="letter-spacing:2px;" >HEALTHCARE DOWN UNDER</h1>
                <hr class="hr">

                <div class="d-flex justify-content-center" style="width:100vw; height:20vh;">
                   <!--SVG TEXT-->
                <svg width="100%" height="100%" viewBox="240 50 300 100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                  <path id="path">
                     <animate attributeName="d" from="m0,110 h10" to="m0,110 h1100" dur="6.8s" begin="0s" repeatCount="indefinite"/>
                   </path>
                   <text font-size="26" fill='hsla(36, 95%, 85%, 1)' fill-opacity="'0.8"> <!--'hsla(36, 95%, 85%, 1)'-->>
                     <textPath xlink:href="#path">Discover Australia's Healthcare System...and Discover Good Health.
                     </textPath>
                   </text>
                 </svg>
                </div>

                <h class="fst-italic fs-3">New to Australia? </h3>
                <h3>Scroll below to begin your journey to better health.</h3>
                <br>
                <i class="fas fa-angles-down me-3 fs-1"></i>
              </div>
          </div>
        </div>
      </div>
    
    <!--Main layout-->
      <!--cards-->
      <br>
      <div class="row d-flex justify-content-center align-items-center" style="color:var(--mdb-dark)">
                  
        <div class="col-sm-5 reveal">
          <div class="card">
            <img src="/images/symptom-pic-alt-3.jpg" class="card-img-top" alt="privatehealth" width="300"/>
            <div class="card-body">
              <h5 class="card-title">Before Seeking Healthcare</h5>
              <p class="card-text">If you are experiencing health issues, start your path to better health.</p>
              <a href="./symptom" class="btn btn-primary">Try the Symptom Checker <i class="fas fa-hand-point-right me-2"></i></a>
            </div>
          </div>
        </div>
        </div>

        <br>
        <div class="row d-flex justify-content-center align-items-center" style="color:var(--mdb-dark)">
        <div class="col-sm-5 reveal">
          <div class="card">
            <img src="/images/nav-health.jpeg" class="card-img-top" alt="privatehealth"/>
            <div class="card-body">
              <h5 class="card-title">Seeking Healthcare</h5>
              <p class="card-text">Navigate Australia's complex healthcare system.</p>
              <a href="./tree" class="btn btn-primary">View the Healthcare Tree Map <i class="fas fa-hand-point-right me-2"></i></a>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="row d-flex justify-content-center align-items-center" style="color:var(--mdb-dark)">
        <div class="col-sm-5 reveal">
          <div class="card">
            <img src="/images/calories1.jpg" class="card-img-top" alt="calories"/>
            <div class="card-body">
              <h5 class="card-title">After Seeking Healthcare</h5>
              <p class="card-text">Maintain your health and reach your health goals.</p>
              <a href="./met" class="btn btn-primary">Use the Activity Tracker <i class="fas fa-hand-point-right me-2"></i></a>
            </div>
          </div>
        </div>
        </div>
      
      <!--cards-->

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
      <div class="container">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-lg-5 mx-auto mb-4 mt-4">
                <!-- Content -->
                <h3 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-heart-pulse me-3"></i>Healthcare in Australia
                </h3>
                <p>
                  Amidst the global recovery from the catastrophic COVID-19 pandemic in 2021 and 2022, Australia experienced a major influx of new migrants as the Australian bureau of statistics displayed an increase of 171% from the year before. This includes 61% of temporary visa holders and an increase of 84% in permanent  residents.
                </p>
              </div>
  
              <!-- Grid column -->
              <div class="col-lg-5 mx-auto mb-md-0 mt-4 mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4"><i class="fas fa-heart-pulse me-3"></i>About Us</h3>
                <p>
                  We want every new migrant to be more comfortable in joining the Australian family. Whether you are a temporary visa holder or a permanent resident, our website can help you to enjoy the services of the Australian healthcare system more easily and with greater confidence.
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      </div>
  
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">MonashTechTitans</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

  </body>
</html>