<!DOCTYPE html>
<html lang="en">
  
  
  <% include ./partials/maps-head %>
  <body>

    <!--Main Navigation-->
   
  
     <!-- Navbar -->
     <nav style="z-index: 10;
     min-height: 58.59px;
    " class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient text-white sticky-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="./">
      <i class="fas fa-heart-pulse" style="color:salmon"></i>
      </a>
      <!-- Left links -->

      <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
          style="letter-spacing: 2px;"
        >
        Discover More
        </a>
        <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#" onclick="guides()">Good Health Guidelines
              <i class="fas fa-person-walking ms-2"></i></a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="private()">The Private Healthcare System
              <i class="fas fa-suitcase-medical ms-2"></i></a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="maps()">Patient Survey Maps
              <i class="fas fa-map ms-2"></i></a>
          </li>
          <li>
            <a class="dropdown-item" href="#" onclick="met()">Calories Calulator
              <i class="fas fa-calculator ms-2"></i></a>
          </li>
        </ul>
      </li>
      </ul>
      <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="me-3" href="https://icons.getbootstrap.com/icons/google/" rel="nofollow" target="_blank">
      <i class="text-secondary fab fa-google"></i>
      </a>
      <!-- Icon -->
      <a class="me-3" href="https://github.com/CodeCaven/healthcare-project" rel="nofollow" target="_blank">
      <i class="text-secondary fab fa-github"></i>
      </a>

      </div>
      <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->


      <!-- Draggable controls-->
    <div id="controls" style="visibility:hidden;">
      <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
      <div id="controlsheader" class="controlsheader">Click here to move </div>
      <!-- Surveys -->
      <div class="collapse" id="collapseDiv" style="margin-bottom:10px;">
        <div>
          <div class="form-check form-check-inline" data-index="1" name="surveys">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
            <label class="form-check-label" for="inlineRadio1">Survey 1</label>
          </div>
          
          <div class="form-check form-check-inline" data-index="2" name="surveys">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
            <label class="form-check-label" for="inlineRadio2">Survey 4</label>
          </div>
      </div>

      <div>
        <div class="form-check form-check-inline" data-index="5" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
          <label class="form-check-label" for="inlineRadio3">Survey 2</label>
        </div>
        
        <div class="form-check form-check-inline" data-index="6" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4" />
          <label class="form-check-label" for="inlineRadio4">Survey 5</label>
        </div>
      </div>

      <div>
        <div class="form-check form-check-inline" data-index="7" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option1" />
          <label class="form-check-label" for="inlineRadio5">Survey 3</label>
        </div>
        
        <div class="form-check form-check-inline" data-index="4" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option5" />
          <label class="form-check-label" for="inlineRadio6">Survey 6</label>
        </div>
      </div>

      <div>
        <div class="form-check form-check-inline" data-index="3" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option6" />
          <label class="form-check-label" for="inlineRadio5">Survey 7</label>
        </div>
      </div>
      
		
      </div>

      <!-- Colour Schemes -->
      <div class="controlsheader" data-mdb-toggle="collapse" data-mdb-target="#collapseSchemes" aria-expanded="false" aria-controls="collapseSchemes">
        Colour Schemes
      </div>
      
      <div class="collapse" id="collapseSchemes" style="margin-bottom:10px;">
        <div>
          <div class="form-check form-check-inline" data-colour="blue" name="colours">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1Colour" value="option1"/>
            <label class="form-check-label" for="inlineRadio1Colour">Blues</label>
          </div>

          <div class="form-check form-check-inline" data-colour="magma" name="colours">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4Colour" value="option4" />
            <label class="form-check-label" for="inlineRadio4Colour">Magma</label>
          </div>
          
          
      </div>

      <div>
        <div class="form-check form-check-inline" data-colour="green" name="colours">
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2Colour" value="option2" />
          <label class="form-check-label" for="inlineRadio2Colour">Greens</label>
        </div>

        <div class="form-check form-check-inline" data-colour="red" name="colours">
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3Colour" value="option3" />
          <label class="form-check-label" for="inlineRadio3Colour">Reds</label>
        </div>
      </div>

      </div>

      <div class="controlsheader" data-mdb-toggle="collapse" data-mdb-target="#collapseThemes" aria-expanded="false" aria-controls="collapseThemes">
        Theme
      </div>
      <!-- Themes -->
      <div class="collapse" id="collapseThemes" style="margin-bottom:10px;">
        <div>
          <div class="form-check form-check-inline" data-theme="dark" name="theme">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3Theme" value="option1"/>
            <label class="form-check-label" for="inlineRadio3Theme">Dark</label>
          </div>
          
          <div class="form-check form-check-inline" data-theme="light" name="theme">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio4Theme" value="option2" />
            <label class="form-check-label" for="inlineRadio4Theme">Light</label>
          </div>
        </div>

      </div>
      <p class="fst-italic" id="natAverage">The national average is 88%</p>

    </div>

    <!-- main -->
    <div class="container-fluid">
        <!-- Grid row -->
        <div class="row">
            <!-- MAP-->
            <div class="col-md-10 theme" id="mapDiv" style="height:100vh;"></div>
            
            <div class="col-md-2 theme">
              <div class="row" style="height:10vh;"></div>
              <div class="row fst-italic" style="height:10vh;"><!--instructions-->
                <p>Hover, Zoom and Pan the Map to Explore. </p>
                <br><br>
                <p>Scroll below to Learn More.</p>
              </div> 
              <div class="row" id="legendDiv" style="height:80vh;"><!--LEGEND-->
              </div>
            </div>
            
          </div>
    </div>
    <br>
    <!--How does it work-->
    <div class="container-fluid ms-5 me-5">
      <div class="row align-items-center">
        <div class="col-lg-11 pt-8">
          <h1>How does it work?</h1>
          <div class="pt-8 fs-5">
            The maps in this visualisation were generated from data from The Patient Experience Survey which is conducted
             annually by the Australian Bureau of Statistics. Data is collected from a representative sample of the Australian population. 
            <a href="https://www.aihw.gov.au/getmedia/4e1bccd8-f870-4f73-bc20-755f1dca87a1/aihw-HPF-64-techinal-note.pdf.aspx">Learn More</a>.
            Using the survey results, the maps are coloured by their PHN (Private Health Network) area. There are 31 PHN 
            areas that cover the whole of Australia. These styles of maps are called choropleth maps. Explore the full datsets below.
          </div>
        </br>
        </div>
        
        <div class="container-fluid">
          <div class="row align-items-center">
        <div class="col-lg-11">
          <table data-page-length='10' class="table table-info table-hover table-sm" id="table-survey">
            <thead class="table-dark">
              <tr>
                <th data-field="PHN_area_name">
                    PHN_area_name <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
                </th>
                <th data-field="state">
                    State <i class="fas fa-heart-pulse me-3" style="color:salmon"></i> 
                </th>
                <th data-field="per_cent">
                    % <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
                </th>
                <th data-field="95_upper_bound">
                    95% Upper Bound <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
                </th>
                <th data-field="95_lower_bound">
                    95% Lower Bound <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
                </th>
                <th data-field="survey_desc">
                    Survey <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
                </th>
                <th data-field="year">
                    Year <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
              </th>
              </tr>
            </thead>
            <tbody id="table-survey-body">

            </tbody>
          </table>

        </div>
        </div>
      </div>

    </div>
  </div>

    <!--Tooltip-->
    <div class="tooltipCustom" id="tooltip" style="visibility:hidden;"></div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
      <div class="container">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 pb-1">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
  
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="https://github.com/CodeCaven/healthcare-project" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
  
      </div>
  
      <hr class="hr">
  
      <div class="container">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h3 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-heart-pulse me-3"></i>About us
                </h3>
                <p>
                  This project is built by masters students from the IT Faculty of Monash University. 
                  It is designed for international students to understand the healthcare structure and issues with healthcare in Australia. 
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                              
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h3>
                <p>
                  <a href="http://bit.ly/3zr1v1j" class="text-reset">Mahara Page</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4">Contact</h3>
                <p><i class="fas fa-home me-3"></i> Clayton, Melbourne, AU </p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  monashtechtitans@gmail.com
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      </div>
  
  
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">MonashTechTitans</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
     <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    
    <!-- Jquery for datatables -->
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  </body>
</html>
