<!DOCTYPE html>
<html lang="en">
  
  
  <% include ./partials/maps-head %>
  <body>

    <!--Main Navigation-->
   
  
     <!-- Navbar -->
     <nav style="z-index: 10;
     min-height: 58.59px;
    " class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient text-white sticky-top px-5">
      <!-- Container wrapper -->
      <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="./index">
      <i class="fas fa-heart-pulse" style="color:darkSalmon"></i>
      </a>
      <!-- Left links -->

      <ul class="navbar-nav ms-auto">
      <!-- Dropdown -->
      <li class="nav-item dropdown mx-5">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
          style="letter-spacing: 2px;"
        >
        BEFORE SEEKING HEALTHCARE
        </a>
        <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="/privatehealth">Private Healthcare in Australia
              <i class="fas fa-suitcase-medical ms-2"></i></a>
          </li>
          <li>
            <a class="dropdown-item" href="/maps" onclick="maps()">Patient Survey Maps
              <i class="fas fa-map ms-2"></i></a>
          </li>
          <li>
            <a class="dropdown-item" href="/symptom" onclick="symptoms()">Symptom Checker 
              <i class="fas fa-prescription-bottle-medical"></i></a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown mx-5">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
          style="letter-spacing: 2px;"
        >
          SEEKING HEALTHCARE
        </a>
        <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="/tree" onclick="tree()">Australian Healthcare Tree Diagram
              <i class="fas fa-diagram-project ms-2"></i></a>
          </li>
        </ul>
        </li>

      <li class="nav-item dropdown mx-5">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
          style="letter-spacing: 2px;"
        >
        AFTER SEEKING HEALTHCARE
        </a>
        <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="/healthguidelines" onclick="guides()">Good Health Guidelines
              <i class="fas fa-person-walking ms-2"></i></a>
          </li>
          <li>
            <a class="dropdown-item" href="/met" onclick="met()">Activity Tracker
              <i class="fas fa-calculator ms-2"></i></a>
          </li>
        </ul>
        </li>
      </ul>
      <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->

      <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->

      <!--How does it work-->
    <div class="container-fluid">
      <div class="row">
        <!--Title-->
        <div class="col-md-7 text-center text-md-start px-5 pt-5">
          <!--Breadcrumbs-->
          <nav aria-label="breadcrumb" class="mx-5">
            <ol class="breadcrumb" style="letter-spacing:2px;">
              <li class="breadcrumb-item"><a href="./index" style="color:darksalmon;">HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">BEFORE SEEKING HEALTHCARE</li>
              
            </ol>
          </nav>
       
          <h1 class="mb-4 display-3 fw-bold px-5">Patient Survey Maps.</h1>
          <p class="mt-3 mb-4 fs-1 px-5">See how Australians view their Healthcare System.</p>
          <!--<p class="mt-3 fs-6 px-5" style="letter-spacing:2px">BEFORE SEEKING HEALTHCARE</p>-->
          <p class="mt-3 mb-4 fs-5 fst-italic px-5">Last Update: 21/5/2023.</p>
        </div>
        <div class="col-md-5 px-5 mt-5"><img class="img-fluid" src="/images/maps-image-1.jpg" alt="" /></div>
        
        <!--How does it work-->
        <div class="col-lg-12">
          <div class="pt-8 fs-5 my-5 big-side-pads">
            The Australian healthcare system is vast with over a <strong>thousand public and private hospitals</strong> and 
            countless more clinics and general practitioners.  Most of these facilities are located in major cities 
            or large regional towns. There is a <strong>substantial difference in service availability</strong> and quality that is witnessed between 
            remote areas of Australia and the major towns and cities. The <strong>ratio of hospital beds</strong> is 4.0 per 1000 population for 
            remote areas, compared with 2.4 per 100 population for city areas. Health services in Australia are partitioned by 
            geographical location. There are 31 <strong>primary health network (PHN)</strong> areas in Australia which are further divided into 
            local health network (LHN) areas. The PHN areas for Australia are visualised below. <br><br>

            So how do Australians living in these areas feel about the healthcare services they receive? The Australian Bureau of 
            Statistics (ABS) conducts an annual <strong>Patient Experience Survey</strong> in which the users of the healthcare system are interviewed 
            about their feelings and attitude towards seeking and receiving healthcare. Data is collected from a representative sample of the Australian population. 
            The results of these surveys have been collated and <strong>visualised in the map of Australia</strong> below. Each area on the map represents 
            one of the PHN geographical areas. The colour of the PHN area indicates the result of a particular survey.
          </div>
        </div>
      </div>
    </div>

    <!--Survey title-->
    <div class="container-fluid reveal">
      <div class="text-center">
      <h3 class="big-side-pads" id="surveyTitle">Percentage of adults who saw a GP in the last 12 months</h3>
      <p class="big-side-pads fst-italic" style="letter-spacing:2px;" id="natAverage">The national average is 88%</p>
    </div>
    </div>

      <!-- Draggable controls-->
    <div id="controls" style="visibility:hidden;">
      <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
      <div id="controlsheader" class="controlsheader" data-mdb-toggle="collapse" data-mdb-target="#collapseDiv" aria-expanded="false" aria-controls="collapseDiv">
        Surveys
       </div>
      <!-- Surveys -->
      <div class="collapse" id="collapseDiv" style="margin-bottom:10px;">
        <div>
          <div class="form-check " data-index="1" name="surveys">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
            <label class="form-check-label fs-6 fst-italic" for="inlineRadio1">Percentage of adults who saw a GP in last 12 months</label>
          </div>
          <br>
          <div class="form-check " data-index="2" name="surveys">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
            <label class="form-check-label fs-6 fst-italic" for="inlineRadio2">Percentage of adults who saw a dentist, hygienist or dental specialist in the preceding 12 months</label>
          </div>
          <br>
      </div>

      <div>
        <div class="form-check " data-index="5" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
          <label class="form-check-label fs-6 fst-italic" for="inlineRadio3">Percentage of adults who did not see or delayed seeing a dentist due to cost in the preceding 12 months</label>
        </div>
        <br>
        <div class="form-check " data-index="6" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4" />
          <label class="form-check-label fs-6 fst-italic" for="inlineRadio4">Percentage of adults who needed to see a GP but did not in the preceding 12 months</label>
        </div>
        <br>
      </div>

      <div>
        <div class="form-check " data-index="7" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5" />
          <label class="form-check-label fs-6 fst-italic" for="inlineRadio5">Percentage of adults who reported having a long-term health condition</label>
        </div>
        <br>
        <div class="form-check " data-index="4" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6" />
          <label class="form-check-label fs-6 fst-italic" for="inlineRadio6">Percentage of adults who did not see or delayed seeing a GP due to cost in the preceding 12 months</label>
        </div>
        <br>
      </div>

      <div>
        <div class="form-check " data-index="3" name="surveys">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7" />
          <label class="form-check-label fs-6 fst-italic" for="inlineRadio7">Percentage of adults who felt they waited longer than acceptable to get an appointment with a GP</label>
        </div>
      </div>
      
		
      </div>

      <!-- Colour Schemes -->
      <div class="controlsheader" data-mdb-toggle="collapse" data-mdb-target="#collapseSchemes" aria-expanded="false" aria-controls="collapseSchemes">
        Colour Schemes
      </div>
      
      <div class="collapse" id="collapseSchemes" style="margin-bottom:10px;">
        <div>
          <div class="form-check " data-colour="blue" name="colours">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1Colour" value="option1"/>
            <label class="form-check-label" for="inlineRadio1Colour">Blues</label>
          </div>

          <div class="form-check " data-colour="magma" name="colours">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4Colour" value="option4" />
            <label class="form-check-label" for="inlineRadio4Colour">Magma</label>
          </div>
          
          
      </div>

      <div>
        <div class="form-check " data-colour="green" name="colours">
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2Colour" value="option2" />
          <label class="form-check-label" for="inlineRadio2Colour">Greens</label>
        </div>

        <div class="form-check " data-colour="red" name="colours">
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3Colour" value="option3" />
          <label class="form-check-label" for="inlineRadio3Colour">Browns</label>
        </div>
      </div>

      </div>

      <div class="controlsheader" data-mdb-toggle="collapse" data-mdb-target="#collapseThemes" aria-expanded="false" aria-controls="collapseThemes">
        Theme
      </div>
      <!-- Themes -->
      <div class="collapse" id="collapseThemes" style="margin-bottom:10px;">
        <div>
          <div class="form-check " data-theme="dark" name="theme">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3Theme" value="option1"/>
            <label class="form-check-label" for="inlineRadio3Theme">Dark</label>
          </div>
          
          <div class="form-check " data-theme="light" name="theme">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio4Theme" value="option2" />
            <label class="form-check-label" for="inlineRadio4Theme">Light</label>
          </div>
        </div>

      </div>

    </div>

    <!-- main -->
    <div class="container-fluid reveal">
        <!-- Grid row -->
        <div class="row">
            
            <!-- MAP-->
            <div class="col-md-10 theme " id="mapDiv" style="height:100vh; padding-left:16vw"></div>
            
            <div class="col-md-2 pe-5 theme">
              <!--<div class="row" style="height:10vh;"></div>-->
              <div class="row fs-5" style="height:15vh;"><!--instructions-->
                <p>Hover, Zoom and Drag the Map Area to Explore. </p>
                <br><br>
              </div> 
              <div class="row" id="legendDiv" style="height:85vh;"><!--LEGEND-->
              </div>
            </div>
            
          </div>
    </div>
  
    <!--Tooltip-->
    <div class="tooltipCustom" id="tooltip" style="visibility:hidden;"></div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
      <div class="container">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-lg-5 mx-auto mb-4 mt-4">
                <!-- Content -->
                <h3 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-heart-pulse me-3"></i>Healthcare in Australia
                </h3>
                <p>
                  Amidst the global recovery from the catastrophic COVID-19 pandemic in 2021 and 2022, Australia experienced a major influx of new migrants as the Australian bureau of statistics displayed an increase of 171% from the year before. This includes 61% of temporary visa holders and an increase of 84% in permanent  residents.
                </p>
              </div>
  
              <!-- Grid column -->
              <div class="col-lg-5 mx-auto mb-md-0 mt-4 mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4"><i class="fas fa-heart-pulse me-3"></i>About Us</h3>
                <p>
                  We want every new migrant to be more comfortable in joining the Australian family. Whether you are a temporary visa holder or a permanent resident, our website can help you to enjoy the services of the Australian healthcare system more easily and with greater confidence.
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      </div>
  
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">MonashTechTitans</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
     <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    
    <!-- Jquery for datatables -->
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  </body>
</html>
