<!DOCTYPE html>
<html lang="en">
  
  
  <% include ./partials/met-head %>
  <body>

    <!--Main Navigation-->
  
      <!-- Navbar -->
      <nav style="z-index: 10;
                   min-height: 58.59px;
                  " class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient text-white sticky-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
  
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="./">
              <i class="fas fa-heart-pulse" style="color:salmon"></i>
            </a>
            <!-- Left links -->
            
            <ul class="navbar-nav">
              <!-- Dropdown -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                 Discover More
                </a>
                <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#" onclick="guides()">Good Health Guidelines
                      <i class="fas fa-person-walking ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" onclick="private()">The Private Healthcare System
                      <i class="fas fa-suitcase-medical ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" onclick="maps()">Patient Survey Maps
                      <i class="fas fa-map ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" onclick="met()">Calories Calulator
                      <i class="fas fa-calculator ms-2"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
  
          <!-- Right elements -->
          <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="me-3" href="https://icons.getbootstrap.com/icons/google/" rel="nofollow" target="_blank">
              <i class="text-secondary fab fa-google"></i>
            </a>
            <!-- Icon -->
            <a class="me-3" href="https://github.com/CodeCaven/healthcare-project" rel="nofollow" target="_blank">
              <i class="text-secondary fab fa-github"></i>
            </a>
  
          </div>
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
  

    <div class="container-fluid">
      

        <div class="row">
          <!--Calculator Display Area-->
          <div class="col-lg-3 mt-2">
            <div class="shadow-5 me-2 border p-2 rounded text-center">
              <p class="rounded fs-5" style="background-color:var(--mdb-primary); color:white;">
                Calories Calculator <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
              </p>
              
              <p class="fs-6"><strong>Step 1:</strong> Select your activity from the Table of Activities</p>
              
              <p class = "fs-6"><strong>Step 2:</strong> Enter the number of minutes for your activity</p>
                 <!--minutes-->   
              <div class="form-outline">
                <input type="number" min="10" max="180" id="minutes" value="30" class="form-control" />
                <label class="form-label" for="minutes">Enter Duration</label>
              </div>
              <div class="col-auto">
                <span id="minutesSmall" class="form-text"> Between 10-180 minutes. </span>
              </div>
        
              <br>
              <p class="fs-6"><strong>Step 3:</strong> Enter your weight</p>
        
                <!--kgs, pounds-->
                <div id="metrics">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="metricRadio" id="inlineRadio1" value="KGS" checked/>
                    <label class="form-check-label" for="inlineRadio1">KGS</label>
                  </div>
                  
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="metricRadio" id="inlineRadio2" value="POUNDS" />
                    <label class="form-check-label" for="inlineRadio2">POUNDS</label>
                  </div>
              </div>
              
        
               <!--weight-->   
               <div class="form-outline mt-4">
                <input type="number" min="30" max="200" id="weight"  value="75" class="form-control" />
                <label class="form-label" for="weight">Enter weight</label>
              </div>
              <div class="col-auto">
                <span id="weightSmall" class="form-text"> Between 30-200 kgs. </span>
              </div>
              <br>
              <!--calories-->
              <p class="fs-6 fst-italic">You have used <span><strong id="calories">450</strong></span> calories.</p>
        
              </div>

          </div>
                  <!--TABLE-->
           <div class="col-lg-9 mt-2">
            <table data-page-length='10' class="table table-bordered table-sm text-center shadow-5" id="table-met">
              <thead class="table-light">
                <tr>
                  <th data-field="activity-light">
                      Light Activities <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
                  </th>
                  <th data-field="activity-moderate">
                      Moderate Activities <i class="fas fa-heart-pulse me-3" style="color:salmon"></i> 
                  </th>
                  <th data-field="activity-vigorous">
                      Vigorous Activities <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
                  </th>
                </tr>
              </thead>
              <tbody id="table-met-body" style="cursor:pointer;">

              </tbody>
            </table>
          </div>
      </div>

      <div class="row">
        <!--Converter-->
        <div class="col-lg-3 mt-2">
          <div class="text-center">
            <div class="shadow-5 me-2 border p-4 rounded">
              <p class="rounded fs-5" style="background-color:var(--mdb-primary); color:white;">
                Calories Converter <i class="fas fa-heart-pulse me-3" style="color:salmon"></i>
              </p>
              <p class="fs-5"><strong>In carrots....</strong></p>
              <div id="carDiv">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
                <img src="/svgs/carrot.svg" width="25" height="25">
              </div>
              <p class="fs-5 mt-2"><strong>In chicken sandwiches....</strong></p>
              <div id="chiDiv">
                <img src="/svgs/sandwich.svg" width="25" height="25">
                <img src="/svgs/sandwich.svg" width="25" height="25">
              </div>
              <p class="fs-5 mt-2"><strong>In mugs of beer....</strong></p>
              <div id="beerDiv">
                <img src="/svgs/beer.svg" width="25" height="25">
                <img src="/svgs/beer.svg" width="25" height="25">
              </div>
              <p class="fs-5 mt-2"><strong>In glasses of red wine....</strong></p>
              <div id="wineDiv">
                <img src="/svgs/redwine.svg" width="25" height="25" style="opacity:0.2">
                <img src="/svgs/redwine.svg" width="25" height="25">
              </div>
              <p class="fs-5 mt-2"><strong>In pizza slices....</strong></p>
              <div id="pizzaDiv">
                <img src="/svgs/pizza.svg" width="25" height="25">
                <img src="/svgs/pizza.svg" width="25" height="25">
              </div>
              
            </div>
          </div>
        </div>
        <!--How does it work-->
        <div class="col-lg-9 mt-2">
          <h1>How does it work?</h1>
          <div class="pt-8 fs-5">
            The maps in this visualisation were generated from data from The Patient Experience Survey which is conducted
             annually by the Australian Bureau of Statistics. Data is collected from a representative sample of the Australian population. 
            <a href="https://www.aihw.gov.au/getmedia/4e1bccd8-f870-4f73-bc20-755f1dca87a1/aihw-HPF-64-techinal-note.pdf.aspx">Learn More</a>.
            Using the survey results, the maps are coloured by their PHN (Private Health Network) area. There are 31 PHN 
            areas that cover the whole of Australia. These styles of maps are called choropleth maps. Explore the full datsets below.
          </div>
        </div>
      </div>
    </div>

    


    <!--Tooltip-->
    <div class="tooltipCustom" id="tooltip" style="visibility:hidden;"></div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
      <div class="container">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 pb-1">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
  
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="https://github.com/CodeCaven/healthcare-project" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
  
      </div>
  
      <hr class="hr">
  
      <div class="container">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h3 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-heart-pulse me-3"></i>About us
                </h3>
                <p>
                  This project is built by masters students from the IT Faculty of Monash University. 
                  It is designed for international students to understand the healthcare structure and issues with healthcare in Australia. 
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                              
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h3>
                <p>
                  <a href="http://bit.ly/3zr1v1j" class="text-reset">Mahara Page</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4">Contact</h3>
                <p><i class="fas fa-home me-3"></i> Clayton, Melbourne, AU </p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  monashtechtitans@gmail.com
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      </div>
  
  
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">MonashTechTitans</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
     <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    
    <!-- Jquery for datatables -->
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  </body>
</html>
