<!DOCTYPE html>
<html lang="en">
  
  
  <% include ./partials/private-head %>
  <body>

    <!--Main Navigation-->
    <header class="mb-2 mb-lg-4">
  
      <!-- Navbar -->
      <nav style="z-index: 1;
                   min-height: 58.59px;
                  " class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
  
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="./">
              <i class="fas fa-heart-pulse" style="color:salmon"></i>
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">Good Health Guidelines</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#" onclick="private()">The Private Healthcare System</a>
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
  
          <!-- Right elements -->
          <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="me-3" href="https://icons.getbootstrap.com/icons/google/" rel="nofollow" target="_blank">
              <i class="text-secondary fab fa-google"></i>
            </a>
            <!-- Icon -->
            <a class="me-3" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
              <i class="text-secondary fab fa-github"></i>
            </a>
  
          </div>
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
  
    </header>

    <!--Title-->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="/images/hero-header.png" alt="" /></div>
        <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
          <h1 class="mb-4 display-3 fw-bold">Private healthcare <br class="d-block d-lg-none d-xl-block" />in Australia.</h1>
          <p class="mt-3 mb-4 fs-1">Costs, admissions, funds, charge types and care types.</p>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10 col-lg-10 pt-8 fs-5">
            For new arrivals to Australia, the healthcare system can seem confusing. It is a complex structure 
            that is difficult to navigate and many visitors are forced into the private system to gain a visa. 
            So let's explore the private healthcare system in Australia by viewing recent statistics and trends.
          </div>
        </div>
      </div>

      </br>
      <!--Trends-->
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 pt-8">
            <h1>Trends in the private health system</h1>
          </br>
            <div class="row align-items-center">
              <div class="col-lg-3" id="multiplesVis1" style="height:30vh;"></div>
              <div class="col-lg-3" id="multiplesVis2" style="height:30vh;"></div>
              <div class="col-lg-3" id="multiplesVis3" style="height:30vh;"></div>
              <div class="col-lg-3" id="multiplesVis4" style="height:30vh;"></div>
            </div>
          </div>
        </div>
    </div>

     </br>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-12 pt-8 fs-5">
          The average expected stay in a private health facility has been decreasing gradually for the last 10 years 
          and the most recent year (2021) recorded 2.1 days as the expected stay duration. The average charge for a stay at
          a private health care facility was $3342 in 2021. This has increased by over $600 since 2010. There were 585 
          registered private hospital in Australia in 2021 and this number as been gradually increasing for the last decade.
          The private healthcare system services over 4.4 million people per year. <span class="fst-italic">Hover over a chart to read the values 
          for each year.</span>
        </div>
      </div>
    </div>
  </br>
    <!--Users-->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 pt-8">
          <h1>Users of the private health system</h1>
        </br>
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8" id="usersStream" style="height:70vh;"></div>
            <div class="col-md-4 col-lg-4 pt-8 fs-5">
              When looking at the number of patient days spent in the private health system, the 
              biggest users are the age group 65 - 74. This is followed by the 75 - 84 age demographic. 
              Children in the age group 5 - 14 account for the least number of patient days spent in 
              private healthcare facilities. The overall number of patient days in private hospitals 
              has been increasing over the last decade. 
              <span class="fst-italic">Hover over a stream to see the individual age groups.</span>
            </div>
          </div>
        </div>
      </div>
  </div>
</br>
    <!--Charge Types-->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 pt-8">
          <h1>Charge types in the private health system</h1>
        </br>
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8" id="careStream" style="height:70vh;"></div>
            <div class="col-md-4 col-lg-4 pt-8 fs-5">
            The different charge types seen in the private health system in Australia represent the different 
            treatment options available. When looking at the number of admissions by charge type, the biggest users 
            are in the 'Accomodation' and 'Bundled' charge types. The least popular charge types were 'Hospital-in-the-home' 
            and 'Special Care Nursery'.<span class="fst-italic">Hover over a stream to see the individual charge types.</span> 
          </div> 
          </div>
        </div>
      </div>
  </div>

</br>
<!--Tables-->

<!--Trend Table-->
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12 pt-8">
      <h1>Explore further</h1>
      <div class="col-md-12 col-lg-12 pt-8 fs-5">
        The Australian Government collects data and reports on the private healthcare sector and private healthcare facilities. 
        These reports are released regularly and made available through the 
        <a href="https://www.health.gov.au/resources/collections/hospital-data-resources#annual-reports">Department of Health and Aged Care</a>.
        The datasets used for the visualisations on this page were extracted from these publicly available reports. 
         Explore the full datasets below.
      </div>
    </br>
    </div>
    
    <div class="container">
      <div class="row align-items-center">
    <div class="col-lg-12">
      <h3>Trends Table</h3>
      <table data-page-length='10' class="table table-info table-hover table-sm" id="table-cost">
        <thead class="table-dark">
          <tr>
            <th data-field="ave_length_stay_days">
                Average Stay (Days)
            </th>
            <th data-field="average_hospital_charge_per_separation">
                Charge Per Separation 
            </th>
            <th data-field="number_of_hospitals_reporting">
                Number of Hospitals
            </th>
            <th data-field="separation_year">
                Year
            </th>
            <th data-field="separations">
                Separations
            </th>
            <th data-field="separations_with_charge">
                Separations with Charge
            </th>
          </tr>
        </thead>
        <tbody id="table-cost-body">

        </tbody>
      </table>

     </div>
    </div>
  </div>

  </div>
</div>
<br>
<!--Users Table-->
<div class="container">
  <div class="row align-items-center">
    
    <div class="container">
      <div class="row align-items-center">
    <div class="col-lg-12">
      <h3>Users Table</h3>
      <table data-page-length='10' class="table table-info table-hover table-sm" id="table-user">
        <thead class="table-dark">
          <tr>
            <th data-field="age_group">
                Age Group
            </th>
            <th data-field="average_hospital_charge_per_separation">
                Charge Per Separation 
            </th>
            <th data-field="average_length_of_stay_days">
                Length of Stay (Days)
            </th>
            <th data-field="hospital_type">
                Hospital Type
            </th>
            <th data-field="patient_days">
                Patient Days
            </th>
            <th data-field="pct_of_all_separations">
                % of Separations
            </th>
            <th data-field="proportion_of_same_day_separations">
              % of Same Day Separations 
          </th>
          <th data-field="same_day_separations">
              Same Day Separations
          </th>
          <th data-field="separation_year">
              Year
          </th>
          <th data-field="separations">
            Separations
          </th>
          <th data-field="separations_with_charge_reported">
              Separations with Charge
          </th>
          </tr>
        </thead>
        <tbody id="table-user-body">

        </tbody>
      </table>

     </div>
    </div>
  </div>

  </div>
</div>
<br>   
<!--Charge Table-->
<div class="container">
  <div class="row align-items-center">
    
    <div class="container">
      <div class="row align-items-center">
    <div class="col-lg-12">
      <h3>Charge Types Table</h3>
      <table data-page-length='10' class="table table-info table-hover table-sm" id="table-charge">
        <thead class="table-dark">
          <tr>
            <th data-field="charge_component">
                Charge Type
            </th>
            <th data-field="average_charge_per_separation">
                Charge Per Separation 
            </th>
            <th data-field="hospital_type">
                Hospital Type
            </th>
            <th data-field="pct_of_charges">
                % of Charges
            </th>
            <th data-field="separation_year">
                Year
            </th>
            <th data-field="separations_with_charge_reported">
                Separations with Charge Reported
            </th>
            <th data-field="total_charges">
              Total Charges
          </th>
          </tr>
        </thead>
        <tbody id="table-charge-body">

        </tbody>
      </table>

     </div>
    </div>
  </div>

  </div>
</div>
<br>
    <!--Tooltip-->
    <div class="tooltipCustom" id="tooltip"></div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
      <div class="container">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 pb-1">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
  
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
  
      </div>
  
      <hr class="hr">
  
      <div class="container">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h3 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-heart-pulse me-3"></i>About us
                </h3>
                <p>
                  The project is built by master students who belongs to IT Faculty of Monash University. 
                  The project mainly design for Australian partents to understand the whole healthcare structure and possible health issue for themselves as well as their children. 
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Products
                </h6>
                <p>
                  <a href="#!" class="text-reset">Angular</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">React</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Vue</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Laravel</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="#!" class="text-reset">Pricing</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Settings</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Orders</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Help</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> Clayton, Melbourne, AU</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      </div>
  
  
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
     <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    
    <!-- Jquery for datatables -->
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  </body>
</html>
