<!DOCTYPE html>
<html lang="en">
  
  
  <% include ./partials/private-head %>
  <body>

    <!--Main Navigation-->
    
  
      <!-- Navbar -->
      <nav style="z-index: 10;
                   min-height: 58.59px;
                  " class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient text-white sticky-top px-5">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
  
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="./index">
              <i class="fas fa-heart-pulse" style="color:darkSalmon"></i>
            </a>
            <!-- Left links -->
            
            <ul class="navbar-nav ms-auto">
              <!-- Dropdown -->
              <li class="nav-item dropdown mx-5">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                 BEFORE SEEKING HEALTHCARE
                </a>
                <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="/privatehealth">Private Healthcare in Australia
                      <i class="fas fa-suitcase-medical ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/maps" onclick="maps()">Patient Survey Maps
                      <i class="fas fa-map ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/symptom" onclick="symptoms()">Symptom Checker 
                      <i class="fas fa-prescription-bottle-medical"></i></a>
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown mx-5">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                  SEEKING HEALTHCARE
                </a>
                <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="/tree" onclick="tree()">Australian Healthcare Tree Diagram
                      <i class="fas fa-diagram-project ms-2"></i></a>
                  </li>
                </ul>
                </li>

              <li class="nav-item dropdown mx-5">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                 AFTER SEEKING HEALTHCARE
                </a>
                <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="/healthguidelines" onclick="guides()">Good Health Guidelines
                      <i class="fas fa-person-walking ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/met" onclick="met()">Activity Tracker
                      <i class="fas fa-calculator ms-2"></i></a>
                  </li>
                </ul>
                </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
  
          <!-- Right elements -->
         
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
  
    

    <!--Title-->
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-7 text-center text-md-start px-5 pt-5">
          <h1 class="mb-4 display-3 fw-bold px-5">Private Healthcare in Australia.</h1>
          <p class="mt-3 mb-4 fs-1 px-5">Costs, admissions, patient days, and charge types.</p>
          <p class="mt-3 mb-4 fs-5 fst-italic px-5">Last Update: 28/4/2023.</p>
        </div>
        <div class="col-md-5 px-5 pt-5"><img class="img-fluid" style="height: 346px" src="/images/hero-header.png" alt="" /></div>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="fs-5  big-side-pads">
            For new arrivals to Australia, the healthcare system can seem confusing. It is a complex structure 
            that is difficult to navigate and many visitors are forced into the private system to gain a visa. 
            So let's explore the private healthcare system in Australia by viewing recent statistics and trends.
          </div>
          </div>
        </div>
      </div>

      <!--Trends-->
      <div class="container-fluid reveal">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="fs-5 mt-5 big-side-pads">
            <h3>Trends in the private health system</h3>
          </br>
            <div class="row align-items-center">
              <div class="col-lg-3 mt-3" id="multiplesVis1" style="height:30vh;"></div>
              <div class="col-lg-3 mt-3" id="multiplesVis2" style="height:30vh;"></div>
              <div class="col-lg-3 mt-3" id="multiplesVis3" style="height:30vh;"></div>
              <div class="col-lg-3 mt-3" id="multiplesVis4" style="height:30vh;"></div>
            </div>
            <br>
            The average expected stay in a private health facility has been decreasing gradually for the last 10 years 
          and the most recent year (2021) recorded 2.1 days as the expected stay duration. The average charge for a stay at
          a private health care facility was $3342 in 2021. This has increased by over $600 since 2010. There were 585 
          registered private hospital in Australia in 2021 and this number as been gradually increasing for the last decade.
          The private healthcare system services over 4.4 million people per year. 
          <span class="fst-italic">Hover over a chart to read the values 
          for each year.</span>
          </div>
          </div>
        </div>
    </div>

     </br>

    <!--Users-->
    <div class="container-fluid reveal">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="fs-5 mt-5 big-side-pads">
          <h3>Users of the private health system</h3>
        </br>
          <div class="row align-items-center">
            <div class="col-lg-2"></div>
            <div class="col-lg-7" id="usersStream" style="height:45vh;"></div>
            <div class="col-lg-3"></div>
              When looking at the number of patient days spent in the private health system, the 
              biggest users are the age group 65 - 74. This is followed by the 75 - 84 age demographic. 
              Children in the age group 5 - 14 account for the least number of patient days spent in 
              private healthcare facilities. The overall number of patient days in private hospitals 
              has been increasing over the last decade.<span class="fst-italic">Hover over a stream to see the individual age groups.</span>
            
          </div>

        </div>
        </div>
      </div>
  </div>

</br>
    <!--Charge Types-->
    <div class="container-fluid reveal">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="fs-5 mt-5 big-side-pads">
          <h3>Charge types in the private health system</h3>
        </br>
          <div class="row align-items-center">
            <div class="col-lg-2"></div>
            <div class="col-lg-7" id="careStream" style="height:45vh;"></div>
            <div class="col-lg-3"></div>
            The different charge types seen in the private health system in Australia represent the different 
            treatment options available. When looking at the number of admissions by charge type, the biggest users 
            are in the 'Accomodation' and 'Bundled' charge types. The least popular charge types were 'Hospital-in-the-home' 
            and 'Special Care Nursery'.<span class="fst-italic">Hover over a stream to see the individual charge types.</span> 
            <a href="https://www.health.gov.au/topics/private-health-insurance/what-private-health-insurance-covers">Learn More</a>
          
          </div>

        </div>
        </div>
      </div>
  </div>

</br>
<!--Tables-->

<!--Trend Table-->
<div class="container-fluid reveal">
  <div class="row align-items-center">
    <div class="col-lg-12">
      <div class="fs-5 mt-5 big-side-pads">
      <h3>Want to learn more?</h3>
        The Australian Government collects data and reports on the private healthcare sector and private healthcare facilities. 
        These reports are released regularly and made available through the 
        <a href="https://www.health.gov.au/resources/collections/hospital-data-resources#annual-reports">Department of Health and Aged Care</a>.
        The datasets used for the visualisations on this page were extracted from these publicly available reports. 
      
      </div>
    </div>
    
    <div class="container-fluid" style="display:none;">
      <div class="row align-items-center">
    <div class="col-lg-12 px-5">
      <h3>Trends Table</h3>
      <table data-page-length='10' class="table table-info table-hover table-sm" id="table-cost">
        <thead class="table-dark">
          <tr>
            <th data-field="ave_length_stay_days">
                Average Stay (Days) <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="average_hospital_charge_per_separation">
                Charge Per Separation <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i> 
            </th>
            <th data-field="number_of_hospitals_reporting">
                Number of Hospitals <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="separation_year">
                Year <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="separations">
                Separations <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="separations_with_charge">
                Separations with Charge <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
          </tr>
        </thead>
        <tbody id="table-cost-body">

        </tbody>
      </table>

     </div>
    </div>
  </div>

  </div>
</div>
<br>
<!--Users Table-->
<div class="container-fluid" style="display:none;">
  <div class="row align-items-center">
    
    <div class="container-fluid">
      <div class="row align-items-center">
    <div class="col-lg-12 px-5">
      <h3>Users Table</h3>
      <table data-page-length='10' class="table table-info table-hover table-sm" id="table-user">
        <thead class="table-dark">
          <tr>
            <th data-field="age_group">
                Age Group <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="average_hospital_charge_per_separation">
                Charge Per Separation <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="average_length_of_stay_days">
                Length of Stay (Days) <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="hospital_type">
                Hospital Type <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="patient_days">
                Patient Days <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="pct_of_all_separations">
                % of Separations <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="proportion_of_same_day_separations">
              % of Same Day Separations <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
          </th>
          <th data-field="same_day_separations">
              Same Day Separations <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
          </th>
          <th data-field="separation_year">
              Year <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
          </th>
          <th data-field="separations">
            Separations <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
          </th>
          <th data-field="separations_with_charge_reported">
              Separations with Charge <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
          </th>
          </tr>
        </thead>
        <tbody id="table-user-body">

        </tbody>
      </table>

     </div>
    </div>
  </div>

  </div>
</div>
<br>   
<!--Charge Table-->
<div class="container-fluid" style="display:none;">
  <div class="row align-items-center">
    
    <div class="container-fluid">
      <div class="row align-items-center">
    <div class="col-lg-12 px-5">
      <h3>Charge Types Table</h3>
      <table data-page-length='10' class="table table-info table-hover table-sm" id="table-charge">
        <thead class="table-dark">
          <tr>
            <th data-field="charge_component">
                Charge Type <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="average_charge_per_separation">
                Charge Per Separation <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="hospital_type">
                Hospital Type <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="pct_of_charges">
                % of Charges <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="separation_year">
                Year <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="separations_with_charge_reported">
                Separations with Charge Reported <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
            </th>
            <th data-field="total_charges">
              Total Charges <i class="fas fa-heart-pulse me-3" style="color:darkSalmon"></i>
          </th>
          </tr>
        </thead>
        <tbody id="table-charge-body">

        </tbody>
      </table>

     </div>
    </div>
  </div>

  </div>
</div>
<br>
    <!--Tooltip-->
    <div class="tooltipCustom" id="tooltip"></div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
      <div class="container">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-lg-5 mx-auto mb-4 mt-4">
                <!-- Content -->
                <h3 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-heart-pulse me-3"></i>Healthcare in Australia
                </h3>
                <p>
                  Amidst the global recovery from the catastrophic COVID-19 pandemic in 2021 and 2022, Australia experienced a major influx of new migrants as the Australian bureau of statistics displayed an increase of 171% from the year before. This includes 61% of temporary visa holders and an increase of 84% in permanent  residents.
                </p>
              </div>
  
              <!-- Grid column -->
              <div class="col-lg-5 mx-auto mb-md-0 mt-4 mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4"><i class="fas fa-heart-pulse me-3"></i>About Us</h3>
                <p>
                  We want every new migrant to be more comfortable in joining the Australian family. Whether you are a temporary visa holder or a permanent resident, our website can help you to enjoy the services of the Australian healthcare system more easily and with greater confidence.
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      </div>
  
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">MonashTechTitans</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
     <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    
    <!-- Jquery for datatables -->
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  </body>
</html>
