<!DOCTYPE html>
<html lang="en">
  
  
  <% include ./partials/tree-head %>
  <body>
  
      <!-- Navbar -->
      <nav style="z-index: 10;
                   min-height: 58.59px;
                  " class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient text-white sticky-top px-5">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
  
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="./index">
              <i class="fas fa-heart-pulse" style="color:darkSalmon"></i>
            </a>
            <!-- Left links -->
            
            <ul class="navbar-nav ms-auto">
              <!-- Dropdown -->
              <li class="nav-item dropdown mx-5">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                 BEFORE SEEKING HEALTHCARE
                </a>
                <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="/privatehealth">Private Healthcare in Australia
                      <i class="fas fa-suitcase-medical ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/maps" onclick="maps()">Patient Survey Maps
                      <i class="fas fa-map ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/symptom" onclick="symptoms()">Symptom Checker 
                      <i class="fas fa-prescription-bottle-medical"></i></a>
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown mx-5">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                  SEEKING HEALTHCARE
                </a>
                <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="/tree" onclick="tree()">Australian Healthcare Tree Diagram
                      <i class="fas fa-diagram-project ms-2"></i></a>
                  </li>
                </ul>
                </li>

              <li class="nav-item dropdown mx-5">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                 AFTER SEEKING HEALTHCARE
                </a>
                <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="/healthguidelines" onclick="guides()">Good Health Guidelines
                      <i class="fas fa-person-walking ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/met" onclick="met()">Activity Tracker
                      <i class="fas fa-calculator ms-2"></i></a>
                  </li>
                </ul>
                </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
  
          <!-- Right elements -->
         
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->

       <!--Title-->
        <div class="container-fluid">
            <div class="row">
            
            <div class="col-md-7 text-center text-md-start px-5 pt-5">
                <h1 class="mb-4 display-3 fw-bold px-5">The Structure of Healthcare in Australia.</h1>
                <p class="mt-3 mb-4 fs-1 px-5">Navigate the Healthcare system and its components.</p>
                <p class="mt-3 mb-4 fs-5 fst-italic px-5">Last Update: 14/5/2023.</p>
            </div>
            <div class="col-md-5 px-5 pt-5"><img class="img-fluid" src="/images/nav-health.jpeg" alt="" /></div>
            <!--Intro-->
            <div class="col-lg-12">
                <div class="pt-8 fs-5 my-5 big-side-pads">
                If you are a new resident to Australia, having to seek healthcare for the first time is a daunting prospect. 
                There are many things to consider when seeking healthcare and the stucture of the healthcare system in Australia is complex. 
                The <strong>public system</strong> offers residents a number of different services and provides safety nets in the form of free or reduced health services for those who are eligible under Medicare.
                There is also the <strong>private health system</strong> where users pay for additional services and benefits such as reduced waiting times. 
                Knowing what help you receive in the public system is not only good for your health, it can help <strong>save you time and money</strong> as well. 
                Did you know that a ride in an ambulance in Australia is not covered under the public health system and can leave you out of pocket for thousands of dollars? 
                <strong>Try our tree diagram</strong> of the Australian healthcare system below. Use it to help you understand the different components of the system. 
                Click and hover over a node to learn more.
                <br><br>
                </div>
            </div>

            </div>
        </div>
    
      <div class="container-fluid reveal">
        <div class="row">
          <!--Title-->
          <div class="col-md-12">
            <!--
            <hr>
            <p class="text-center fs-5 tree-header">The healthcare system in Australia is a complex mix of Commonwealth and <br>State 
                Goverment funded services and services funded by private health insurance.
            </p>
            <hr>-->
            <div id="plot_tree" style="height: 120vh;"></div>
            <!--<div id="plot_tree" class="bg-image d-none d-sm-block" style="height: 85vh;">
                <img src="/images/cover.jpg"
                alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)"></div>
              </div>-->
        </div>
            
        </div>
       </div>
  
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
      <div class="container">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-lg-5 mx-auto mb-4 mt-4">
                <!-- Content -->
                <h3 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-heart-pulse me-3"></i>Healthcare in Australia
                </h3>
                <p>
                  Amidst the global recovery from the catastrophic COVID-19 pandemic in 2021 and 2022, Australia experienced a major influx of new migrants as the Australian bureau of statistics displayed an increase of 171% from the year before. This includes 61% of temporary visa holders and an increase of 84% in permanent  residents.
                </p>
              </div>
  
              <!-- Grid column -->
              <div class="col-lg-5 mx-auto mb-md-0 mt-4 mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4"><i class="fas fa-heart-pulse me-3"></i>About Us</h3>
                <p>
                  We want every new migrant to be more comfortable in joining the Australian family. Whether you are a temporary visa holder or a permanent resident, our website can help you to enjoy the services of the Australian healthcare system more easily and with greater confidence.
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      </div>
  
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">MonashTechTitans</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

    <!-- Tippy tool tips -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

    <!-- go.js -->
    <!--<script src="https://unpkg.com/gojs/release/go-debug.js"></script>-->
  </body>
</html>
