<!DOCTYPE html>
<html lang="en">
  
  
  <% include ./partials/tree-head %>
  <body>

    <!--Main Navigation-->
    <header class="mb-5 mb-lg-7">
  
      <!-- Navbar -->
      <nav style="z-index: 10;
                   min-height: 58.59px;
                  " class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient text-white sticky-top px-5">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
  
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="./">
              <i class="fas fa-heart-pulse" style="color:salmon"></i>
            </a>
            <!-- Left links -->
            
            <ul class="navbar-nav">
              <!-- Dropdown -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                  style="letter-spacing: 2px;"
                >
                 Discover More
                </a>
                <ul class="dropdown-menu fs-6" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#" onclick="guides()">Good Health Guidelines
                      <i class="fas fa-person-walking ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" onclick="private()">The Private Healthcare System
                      <i class="fas fa-suitcase-medical ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" onclick="maps()">Patient Survey Maps
                      <i class="fas fa-map ms-2"></i></a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" onclick="met()">Activity Tracker
                      <i class="fas fa-calculator ms-2"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
  
          <!-- Right elements -->
         
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
    
      <div class="container-fluid">
        <div class="row">
          <!--Title-->
          <div class="col-md-12">
            <hr>
            <p class="text-center fs-5">The healthcare system in Australia is a complex mix of Commonwealth and <br>State 
                Goverment funded services and services funded by private health insurance.
            </p>
            <hr>
            <div id="plot_tree"style="height: 85vh; background-color: #DAE4E4;"></div>
        </div>
            
        </div>
       </div>
  
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
      <div class="container">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 pb-1">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
  
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="https://github.com/CodeCaven/healthcare-project" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
  
      </div>
  
      <hr class="hr">
  
      <div class="container">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h3 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-heart-pulse me-3"></i>About us
                </h3>
                <p>
                  This project is built by masters students from the IT Faculty of Monash University. 
                  It is designed for international students to understand the healthcare structure and issues with healthcare in Australia. 
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                              
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h3>
                <p>
                  <a href="http://bit.ly/3zr1v1j" class="text-reset">Mahara Page</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h3 class="text-uppercase fw-bold mb-4">Contact</h3>
                <p><i class="fas fa-home me-3"></i> Clayton, Melbourne, AU </p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  monashtechtitans@gmail.com
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      </div>
  
  
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">MonashTechTitans</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

    <!-- go.js -->
    <!--<script src="https://unpkg.com/gojs/release/go-debug.js"></script>-->
  </body>
</html>
