
a {
  color: #00B7FF;
}

.landing{
  background-image: url('../images/cover.jpg');
}

.img-div{
  height:85vh;
  width:100%;
}

.caption{
  top:2%;
}

.caption-cover{
  top:10%;
}

.caption-text{
  font-weight:500;
}

.left-flex{
    width:55%;
    height: 18vh;
    background-color: lightblue;
    color:var(--mdb-dark);
    transition: 0.6s;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    overflow:hidden;
    padding: 0.2rem;
}

.right-flex{
  width:45%;
  height:18vh;
  background-size: 100%;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width:100%;
  height:18vh;
  background-color: whitesmoke;
  margin-bottom:1rem;
  cursor:pointer;
}

.inset-text{
  opacity:1;
  transition: 1s;
  display:none;
  font-size:small;
}

.stat-text{
  color:var(--mdb-dark);
  font-weight:700;
}

.video{
  font-size: 1.5rem;
  z-index: 1000;
  position: absolute;
  margin: 1rem;
  cursor:pointer;
}

.display-3 {
  font-size: calc(1.4236rem + 2.08318vw);
  font-weight: 900;
  line-height: 1;
}

.axis-grid line {
  stroke: #def;
  stroke-width: 0.1vh;
}

.axis-dark{
  color: white;
  stroke-width: 0.3vh;
  opacity: 0.7;
}

.axis-light{
  color: var(--mdb-dark);
  stroke-width: 0.3vh;
  opacity: 1;
}

.tooltipCustom{
  position: absolute;
  visibility: hidden;
  padding: 5px;
  text-align: center;
  z-index: 100;
  font-size: 1em;
  background-color: var(--mdb-dark);
  font-weight: 700;
  height: fit-content;
  width:200px;
  color: white;
  border-radius: 0.5rem;
}

.label{
  font-size: 2vh;
  font-weight: 700;
  letter-spacing: 0.3vh;
}






