
a {
  color: #00B7FF;
}

.landing{
  background-image: url('../images/cover.jpg');
}

#plot_tree_test{
  background-image: url('../images/cover-aus.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100% 100%;
}

.img-div{
  height:85vh;
  width:100%;
}

.caption{
  top:50%;
}

.caption-cover{
  top:15%;
  left:40%;
}

.caption-text{
  
  color: var(--mdb-white);
}

.caption-div{
  background-color: rgba(0, 0, 0, .5);
  height: fit-content;
  border-radius: 0.6rem;
  padding:0.5rem;
}

.caption-cover-div{
  background-color: rgba(0, 0, 0, .3);
  height: fit-content;
  border-radius: 0.6rem;
  padding:0.5rem;
}

.left-flex{
    width:55%;
    height: 18vh;
    background-color: var(--mdb-info);
    color:var(--mdb-white);
    transition: 0.6s;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    overflow:hidden;
    padding: 0.2rem;
}

.right-flex{
  width:45%;
  height:18vh;
  background-size: 100%;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width:100%;
  height:18vh;
  background-color: whitesmoke;
  margin-bottom:1rem;
  cursor:pointer;
}

.inset-text{
  opacity:1;
  transition: 1s;
  display:none;
  font-size:small;
}

.stat-text{
  color:darkslateblue;
  font-weight:700;
}

.video{
  font-size: 2rem;
  z-index: 1000;
  position: absolute;
  margin: 1rem;
  cursor:pointer;
  color:var(--mdb-dark);
  right:0;
}

.display-3 {
  font-size: calc(1.4236rem + 2.08318vw);
  font-weight: 900;
  line-height: 1;
}

.axis-grid line {
  stroke: #def;
  stroke-width: 0.1vh;
}

.axis-dark{
  color: white;
  stroke-width: 0.3vh;
  opacity: 0.7;
}

.axis-light{
  color: var(--mdb-dark);
  stroke-width: 0.3vh;
  opacity: 1;
  font-weight: 700;
}

.axis-legend{
  color: var(--mdb-dark);
  stroke-width: 0.2vh;
  opacity: 1;
  font-weight: 700;
  transition:1s;
}

.tooltipCustom{
  position: absolute;
  visibility: hidden;
  padding: 5px;
  text-align: center;
  z-index: 100;
  font-size: 1em;
  background-color: var(--mdb-dark);
  font-weight: 700;
  height: fit-content;
  width:200px;
  color: white;
  border-radius: 0.5rem;
}

.label{
  font-size: 2vh;
  font-weight: 700;
  letter-spacing: 0.3vh;
}

#controls {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 250px;
  opacity: 0.8;
  padding: 10px;
  border-radius:0.5rem;
  left: 4em;
}

#controlsheader {
  cursor: move;
}

.controlsheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: var(--mdb-dark);
  color: #fff;
  height:fit-content;
  border-radius:0.5rem;
  margin-bottom:1rem;
  cursor: pointer;
}

.theme{
  background-color: var(--mdb-white);
  color:var(--mdb-dark);
  transition: 1s;
}

.icon{
  font-size:1.5rem;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

 



